html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.my-map {
    height: 25em;
  
	
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.title{
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 1em;
}

  #map {
    height: 50%;
  }